@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@font-face {
    font-family: Mouse Memoirs;
    src: url("/font/Mouse\ Memoirs/MouseMemoirs-Regular.ttf");
}

.font-mouse {
    font-family: Mouse Memoirs;
}
:root {
    display: flex;
    justify-content: center;
}

body {
    max-width: 750px;
    width: 750px;
}
